<!-- Component Template -->
<ng-container *ngIf="getValue(wrapWithCard) | async; else componentsRef">
  <x-card
    class="v-card"
    [color]="getValue(cardColor) | async"
    [ngClass]="getValue(cssClass) | async"
    [isInPage]="getValue(isInPage) | async"
    [title]="getResourceValue(title) | async"
    [showFooter]="getValue(cardShowFooter) | async"
    [showActions]="getValue(cardShowActions) | async"
    [subTitle]="getResourceValue(cardSubTitle) | async"
    [foregroundColor]="getValue(cardForegroundColor) | async"
    [showHeader]="
        (notEmptyValue(title) | async) || (notEmptyValue(cardSubTitle) | async)
      "
  >
    <!-- Content -->
    <ng-container *ngTemplateOutlet="componentsRef"></ng-container>

    <!-- Actions -->
    <div class="x-actions" actions *ngIf="getValue(cardShowActions) | async">
      <ng-content select="[actions]"></ng-content>
    </div>

    <!-- Footer -->
    <div class="x-footer" footer *ngIf="getValue(cardShowFooter) | async">
      <ng-content select="[footer]"></ng-content>
    </div>
  </x-card>
</ng-container>

<!-- Component's itSelf Template -->
<ng-template #componentsRef>
  <section
    *ngIf="model"
    [ngClass]="getValue(cssClass) | async"
    class="v-component-wrapper"
  >
    <ng-container
      *ngTemplateOutlet="
          (getValue(presentType) | async) === PresentTypes.AsDescriptionList
            ? descriptionListRef
            : (getValue(presentType) | async) === PresentTypes.AsForm
            ? formRef
            : nothingRef
        "
    ></ng-container>
  </section>
</ng-template>

<!-- Description List -->
<ng-template #descriptionListRef>
  <!-- Description List Presenting -->
  <x-description-list
    [model]="model"
    [color]="getValue(color) | async"
    [hiddenModelKeys]="hiddenModelKeys"
    [modelKeyProvider]="modelKeyProvider"
    [cssClass]="getValue(cssClass) | async"
    [hideOptionalValues]="hideOptionalValues"
    [sortOrderModelKeys]="sortOrderModelKeys"
    [availableModelKeys]="availableModelKeys"
    [modelValueProvider]="modelValueProvider"
    [labelColor]="getValue(labelColor) | async"
    [showLabels]="getValue(showLabels) | async"
    [valueColor]="getValue(valueColor) | async"
    [hiddenLabelModelKeys]="hiddenLabelModelKeys"
    [actionProvider]="descriptionListActionProvider"
    [foregroundColor]="getValue(foregroundColor) | async"
  >
  </x-description-list>
</ng-template>

<!-- Form Template -->
<ng-template #formRef>
  <x-form
    #form
    class="v-card"
    [loading]="isLoading"
    [uiDisabled]="uiDisabled"
    [formConfig]="formConfig"
    [actionProvider]="formActionProvider"
    (valueChanged)="handleFormChange($event)"
    [cssClass]="getArrayValue(cssClass) | async"
    [fillColor]="getValue(formFillColor) | async"
    *ngIf="
        (notNullOrUndefinedValue(formConfig) | async) &&
        (hasChildValue(formConfig.controls) | async)
      "
    (statusChanged)="handleFormStatusChanged($event)"
    [activeColor]="getValue(formActiveColor) | async"
    [regularColor]="getValue(formRegularColor) | async"
    [invalidColor]="getValue(formInvalidColor) | async"
    [pendingColor]="getValue(formPendingColor) | async"
    [disabledColor]="getValue(formDisabledColor) | async"
    [disabledFillColor]="getValue(formDisabledFillColor) | async"
  >
    <div actions>
      <!-- Error Handlers -->
      <div class="v-form-errors">
        <ion-text
          [isForeground]="true"
          class="validation-error"
          [xColor]="ColorNames.Danger"
          *ngIf="getValue(hasValidationError) | async"
        >
          {{ getValue(validationError) | async }}
        </ion-text>
      </div>

      <!-- Custom Actions -->
      <ng-content select="[actions]"></ng-content>
    </div>
  </x-form>
</ng-template>

<!-- Nothing Template -->
<ng-template #nothingRef></ng-template>
